body{
	margin:0;
	width:100vw;
	background-image: url(/images/Hoth_plains.jpg);
}

#about-left{
	height:75vh;
	width:35vw;
	margin-top:10vh;
	margin-left:2vw;
	margin-right:2vw;
	
	
}

#about-right{
	background-color:rgba(240,240,250,0.6);
	height:75vh;
	width:60vw;
	margin-top:10vh;
	border: 2px solid #333333;
	padding-top:5vh;
	overflow: hidden;
	text-overflow: ellipsis;
	
	
	
}

#imghoth{
	width:100%;
	border: 2px solid #333333;
}