.item {
    margin: 10px 0;
}

.delete {
    background-image: url(/images/button_cancel_256.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    cursor:pointer;
    display:inline-block;
}

.delete:hover {
    transform: scale(0.7);
}

.text {
    text-overflow: ellipsis;
    font-size: 100%;
    vertical-align: center;
    overflow: hidden;
    white-space: nowrap;
    display:inline-block;
}

.price2 {
    text-align: center;
    font-size: 100%;
    vertical-align: center;
    line-height: 4vh;
}

#items {
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.qty2 {
    background-color: #2F8DB3;
    border: 1px solid #2F8DB3;
    margin: 5px 5px 5px 0px;
    color: #FFFFFF;
}

.qty2:hover {
    background-color: #2257BF;
    border: 1px solid #2257BF;
}

.add2 {
    background-color: #333333;
    border: 1px solid #333333;
    color: #FDF8FF;
    margin: 5px 5px 5px 0px;
}

.add2:hover {
    background-color: black;
    border: 1px solid black;
}

#checkout {
    background-color: #333333;
    border: 1px solid #333333;
    color: #FDF8FF;
    margin: 20px auto;
}

#checkout:hover {
    background-color: black;
    border: 1px solid black;
}