#navigation {
    background-color: #0ABAB5;
}

#title {
    font-weight: bolder;
    color: #DD1D22;
}

#logo {
    width: 5vw;
    background-image: url(/images/Rebel-48.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: width 2s, height 2s, transform 5s;
}

#logo:hover {
    transform: rotateY(360deg);
}

a {
    color: #FDF8FF;
}

#dropdown {
    text-align: center;
    color: #333333;
}

li:hover, .open {
    color: #FDF8FF;
    background-color: #0ABAB5;
}

.icon-bar {
    background-color: #FDF8FF;
}
