body {
    margin: 0;
	background-image: url(/images/Hoth_plains.jpg);
    
}

#order-display{
	background-color:rgba(240,240,250,0.6);
	border: 2px solid #333333;
	
}

#cart-total-div{
	background-color:rgba(240,240,250,0.6);
	border: 2px solid #333333;
	
}

#order-cust-info{
	background-color:rgba(240,240,250,0.6);
	border: 2px solid #333333;
}

#order-submit-div{
	background-color:rgba(240,240,250,0.6);
	border: 2px solid #333333;
}

#order-cancel-btn{
	margin-top:2vh;
	margin-left:2vw;
	border-radius: 6vw;
}

#order-submit-btn{
	margin-top:2vh;
	margin-left:4vw;
	border-radius: 6vw;
}
